qa/results/v16-15/**/*.png
qa/results/v16-15/**/*.webp
qa/results/v16-15/*.png
qa/results/v16-15/*.webp
qa/results/v16-16/**/*.png
qa/results/v16-16/**/*.webp
qa/results/v16-16/*.png
qa/results/v16-16/*.webp
